.pointer {
  cursor: pointer;
}
.font14 {
  font-size: 14px;
}
.weather-tool-common {
  position: fixed;
  .sunlight-icon,
  .wind-icon {
      color:#c6b56d;
    }
  .moisture-icon {
    color:#77c2e8;
  }
  .PM-icon {
    color: #a49059;
  }
  .cloud-icon {
    color: #7a9541;
  }
  .radio-icon {
    color: #376786;
  }
  .weather-brief {
    position: relative;
    width: 165px;
    height: 30px;
    line-height: 30px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 2px 6px rgba(0,0,0,.2);
    z-index: 1;

    .fore-loading-container {
      text-align:  center;
      .fore-loading-icon {
        width: 20px;
        height: 20px;
        display: inline-block;
        margin-right: 15px;
      }
      .fore-loading-content {
        font-size: 14px;
      }
    }
    .no-data-container {
      text-align:  center;
      
      .no-data-content {
        font-size: 14px;
      }
    }

    .weather-icon {
      position: relative;
      top: -1px;
      font-weight: bold;
      margin: 0 6px;
      &:hover {
        font-weight: 500;
        color: #4d9640;
      }
    }
    .temprature {
      top: -2px;
      &:hover {
        font-weight: 500;
        color: #4d9640;
      }
    }
    .split-line {
      font-size: 18px;
      color: #9d9b9b;
      margin: 6px 8px;
    }
    .area-name {
      right: 7px;
      top: 0;
      width: 50px;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
  .weather-detail {
    position: absolute;
    right: 0;
    width: 264px;
    height: 500px;
    z-index: 2;
    background: #fff;
    margin-top: 5px;
    .weather-menu {
      position: relative;
      height: 44px;
      &:after {
        content: '';
        position: absolute;
        bottom: 0px;
        left: 0;
        width: 264px;
        height: 4px;
        border-bottom: 4px solid #e5e5e5;
      }
      .active {
        z-index: 2;
        position: relative;
        color: #333;
        border-bottom: 4px solid #97cb6f;
        .tool-pop-arrow {
          display: block;
        }
      }
      li {
          float: left;
          overflow: hidden;
          box-sizing: border-box;
          padding: 10px 14px;
          font-size: 14px;
          color: #a4a4a4;
          cursor: pointer;
          border-bottom: 4px solid #e5e5e5;
          .tool-pop-arrow {
            left: 34px;
            bottom: -0;
            width: 0;
            height: 0;
            border-left: 6px solid transparent;
            border-right: 6px solid transparent;
            border-bottom: 5px solid #97cb6f;
            display: none;
          }
        &:hover {
          color: #3e3e3e;
        }
      }
    }
    .real-time-wrap {
      border-bottom: 1px solid #dbe2d8;
      .real-time {
         width: 170px;
          .real-time-name {
            font-weight: normal;
            font-size: 80px;
            margin-left: 6px;
          }
          .real-time-degree {
            font-size: 20px;
            left: 100px;
            top: 18px;
          }
          .real-time-status {
            font-size: 16px;
            left: 106px;
            bottom: 15px;
          }
      }
      .real-time-right {
        left: 156px;
        top: 5px;
        span {
          display: block;
          line-height: 26px;
            .icon-shidu {
              position: relative;
              top: -2px;
            }
            i {
              font-size: 20px;
              margin-right: 9px;
              vertical-align: middle;
            }
        }
      }
      .warn-info {
        font-size: 14px;
        position: absolute;
        top: 100px;
        color: red;
        background: #fff;
        border-radius: 0px 0px 4px 4px;
        overflow: hidden;
        padding: 6px 0;
        p {
          padding: 0 20px 0 36px;
          text-align: center;
        }
      }
      .real-time-introduce {
        font-size: 14px;
        position: absolute;
        bottom: -33px;
        width: 262px;
        text-align: center;
        i {
            color: #1c8ef8;
        }
        span {
          font-size: 18px;
          margin-left: 8px;
          vertical-align: middle;
        }
      }
    }
    .five-prediction {
      overflow: hidden;
      .weather-forecast {
        height: 30px;
        line-height: 30px;
        padding: 0 25px 0 15px;
        background: #f4ffe9;
        border-bottom: 1px solid #d2d2d2;
        .status {
          margin-left: 40px;
        }
        span {
          font-weight: bolder;
          i {
            font-weight: normal;
            vertical-align: middle;
            margin-right: 4px;
          }
        }
      }
      .weather-time {
        width: 358px;
        margin: 0 18px;
        padding:12px 0;
        overflow: hidden;
        li {
          float: left;
          margin: 0px 5px;
          text-align: center;
          em,i,span {
            display: block
          }
          i {
            margin: 6px 0;
          }
        }
      }
      .week-weather {
        border-top: 1px solid #d2d2d2;
        border-bottom: 1px solid #d2d2d2;
        li {
          height: 26px;
          line-height: 26px;
          margin: 0 10px;
          border-bottom: 1px dotted #d2d2d2;
          padding: 0 15px 0 5px;
          clear: both;
          span {
            font-weight: bolder;
            i {
            font-weight: normal;
            }
          }
          .status {
            margin-left: 40px;
            i {
              vertical-align: middle;
              margin-right: 8px;
            }
          }
          &:last-child{
            border-bottom: 1px dotted #fff;
          }
        }
      }
      .weather-icon {
        height: 34px;
        line-height: 34px;
        padding: 0 10px;
        img {
          width: 30px;
        }
        .more-weather {
          line-height: 34px;
          color: #6c9f00;
          text-decoration: underline;
          cursor: pointer;
          &:hover {
            color: #7eb902;
          }
          i {
            font-size: 12px;
          }
        }
      }
    }
  }

  .echart {
    width: 270px;
    height: 200px;
  }
}
.morecolor-cloud {
  width: 25px;
  left: 2%;
  z-index: 2;
}